@{
    ViewBag.Title = "Kontakt";
}

<div class="col-md-12">
    <img src="~/Image/logo.png" class="img-fluid. max-width: 100%;" alt="Responsive image">
</div>

<h2>@ViewBag.Title</h2>




<address>
    Firma z siedzibą w Częstochowie<br />
    ul. Armi Krajowej 21<br />
    <abbr title="Phone">Tel: 765 984 125</abbr>
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:ABWmotors@gmail.com">ABWmotors@gmai.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ABWmotorsMarketing@gmail.com">ABWmotorMarketing@gmail.com</a>
</address>