@{
    ViewBag.Title = "ABW Motors";
}
<div class="col-md-12">
        <img src="~/Image/logo.png" class="img-fluid. max-width: 100%;" alt="Responsive image">
    </div>
<br />
<br />
<br />
    <div class="row">
        <div class="col-md-6">
            <h2>Części do aut niemieckich</h2>
            <p>
                <img src="~/Image/audi.jpg" class="img-fluid. max-width: 100%;" alt="Responsive image">
            </p>
            <p><a class="btn btn-default" href="https://pl.wikipedia.org/wiki/Audi">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Części do aut francuskich</h2>
            <p></p><img src="~/Image/citroen.jpg" class="img-fluid. max-width: 100%;" alt="Responsive image"></p>
            <p><a class="btn btn-default" href="https://pl.wikipedia.org/wiki/Citro%C3%ABn">Learn more &raquo;</a></p>
        </div>

    </div>
